In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
a=pd.read_excel(r"C:\\Users\Ogeid99\Desktop\cataloguess\lat_long_declust_magn_greaterthan3.xlsx",sep='|',header=None)
a.rename(columns={1:'Latitude',0:'Longitude', 4:'Depth/Km', 3:'Magnitude', 5:'MagType', 2:'Time'}, inplace=True)
#data cleaning
from datetime import datetime
time_plot=a['Time']
function=lambda x: x.replace("'","") #replace "'" with ' '
datetime_object = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f')
split_object=lambda i: i.replace("T"," ") #for i in time_plot
time_plot=time_plot.map(function)
time_plot=time_plot.map(split_object)
time_plot=time_plot.map(datetime_object)
#time_plot=time_plot.to_datetime() #.astype(np.datetime64) 
a['Time']=time_plot
list_magn=[]
mag=a['Magnitude']
long=a['Longitude']
list_long=[]
Lat=a['Latitude']
Lat=[i/10000000000000 for i in Lat]
for j in mag:
    if j >20:
        j=j/100000000000000
        list_magn.append(j)
    else:
        j=float(str(j))
        list_magn.append(j)
for k in long:
    k=k/10000000000000
    if k <40.0:
        list_long.append(k)
    else:
        k=k/10
        list_long.append(k)
a['Magnitude']=list_magn
a['Longitude']=list_long
a['Latitude']=Lat
a

,Longitude,Latitude,Time,Magnitude,Depth/Km,MagType
0,7.17400,46.1580,1985-01-04 16:57:40.240,3.8,1.000000e+01,'M'
1,6.64100,45.3380,1985-01-04 23:59:54.820,3.7,5.000000e+00,'M'
2,6.62700,45.4090,1985-01-05 03:47:03.640,3.2,1.000000e+01,'M'
3,16.76500,39.2910,1985-01-06 17:22:58.540,3.0,5.000000e+00,'Md'
4,12.73000,43.2250,1985-01-07 00:34:49.290,3.0,1.000000e+01,'Md'
...,...,...,...,...,...,...
7717,14.60980,37.7413,2020-04-25 00:40:02.630,3.2,2.600000e+01,'ML'
7718,14.61750,37.7523,2020-04-25 07:21:54.480,3.4,2.350000e+14,'ML'
7719,14.15167,40.8285,2020-04-26 02:59:02.450,3.1,2.500000e+14,'Md'
7720,13.60600,38.4052,2020-04-28 05:57:28.820,3.1,2.540000e+14,'ML'
7721,14.17220,38.5943,2020-04-28 07:14:45.750,3.0,2.750000e+14,'ML'

In [57]:
df=a
a['Time']

0      1985-01-04 16:57:40.240
1      1985-01-04 23:59:54.820
2      1985-01-05 03:47:03.640
3      1985-01-06 17:22:58.540
4      1985-01-07 00:34:49.290
                 ...
7717   2020-04-25 00:40:02.630
7718   2020-04-25 07:21:54.480
7719   2020-04-26 02:59:02.450
7720   2020-04-28 05:57:28.820
7721   2020-04-28 07:14:45.750
Name: Time, Length: 7722, dtype: datetime64[ns]

In [135]:
import datetime
from ipykernel import kernelapp as app
from math import sqrt
#tt=3600*24*365*10
a=df[(df['Magnitude']>)& (df['Time']>datetime.datetime(1985,1,1,1,1))& (df['Time']<datetime.datetime(2020,4,30,1,1,1))]
starting_time1=a['Time'].iloc[0]
end_time1=a['Time'].iloc[len(a.index)-1]
tot_time=int((end_time1-starting_time1).total_seconds())
interv=5
interv_time=tot_time/interv
events_interval=[]
diff_value=[]
for i in range(len(a.index)):
    diff=(a['Time'].iloc[i]-starting_time1).total_seconds()
    diff_value.append(diff)
a['Diff_time']=diff_value
cnt=0
while cnt <interv:  #890
    condition=a[(a['Diff_time']>=(interv_time*cnt))&(a['Diff_time']<(interv_time*(cnt+1)))].loc[:,'Diff_time']
    condition1=condition.to_list()
    events_interval.append(condition1)
    cnt+=1
number_time=pd.DataFrame(events_interval)
number_time_count=number_time.count(axis=1)
import random
nt=number_time_count.to_numpy()
lamb=sum(nt)/len(nt)
chi_cc=[]
lamb_list=[]
for i in range(interv):
    lamb_list.append(lamb)
cc=chisquare(nt,lamb_list)
var_list=[]
Yk_list=[]
for b in nt:
    Yk=sqrt(b+3/8)
    Yk_list.append(Yk)
Y=(sum(Yk_list)/len(nt))
for yk in Yk_list:
    var=(yk-Y)**2
    var_list.append(var)
bz=4*sum(var_list)
cc,bz,len(nt)-1

(Power_divergenceResult(statistic=207.8621940163191, pvalue=7.659532873798535e-44),
 217.78468383392018,
 4)

In [91]:
condition

6196    8.041682e+08
6989    9.386914e+08
7028    9.443738e+08
7031    9.444984e+08
Name: Diff_time, dtype: float64

In [94]:
condition

6989    9.386914e+08
7028    9.443738e+08
7031    9.444984e+08
7113    9.514233e+08
Name: Diff_time, dtype: float64

In [96]:
interv_time

208289756.4

In [98]:
interv_time

190284653.2