In [1]:
import pandas as pd
giovanni=[[1,2,6,3,5,33,35,36,6],[3,6,3,5,4,6,36,1]]
pd.DataFrame(giovanni)

   0  1  2  3  4   5   6   7    8
0  1  2  6  3  5  33  35  36  6.0
1  3  6  3  5  4   6  36   1  NaN